:root{
--primary-color:hsl(25, 97%, 53%);
--grey-light:hsl(217, 12%, 63%);
--grey-meduim:hsl(216, 12%, 54%);
--blue-dark:hsl(213, 19%, 18%);
--very-blue-dark:hsl(216, 12%, 8%);
--fs:15px

}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}
body{
    background-color: var(--very-blue-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}
main{
    background-color: var(--blue-dark);
    width: 350px;
    padding: 30px 26px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
}
.main-header{
    color: white;
    font-weight: 700;
    font-size: 28px;
    margin: 0px;
}
.submit-btn{
    border: none;
    color: white;
    background-color: var(--primary-color);
    padding: 12px 7px;
    border-radius: 25px;
    font-weight: 400;
    text-transform: uppercase;
    transition: 0.3s;
}
.submit-btn:hover{
    cursor: pointer;
    background-color: white;
    color: var(--primary-color);
}
.star-container{
    background-color: #3a4655;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 20px;
}
p{
    color:var(--grey-light);
    font-weight: 400;
    font-size: var(--fs);
    line-height:1.4 ;
}
.rate-btn{
    background-color:#3a4655;
    width: 42px;
    height: 42px;
    border: 50%;
    color: var(--grey-meduim);
    font-weight: 400;
    font-size: 18px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;

}
.rate-btn:hover{
    background-color: var(--primary-color);
    color: white;

}
.ratings{
    display: flex;
    justify-content: space-between;

}
.active{
    background-color: var(--grey-light);
    color: white;
}


h4{
    margin: auto;
    width: fit-content;
    color: var(--primary-color);
    background-color:hsla(216, 12%, 54%, 0.205); 
    padding: 7px 12px;
    border-radius: 25px;
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 1.2px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.thank-img{
    width: 150px;
    margin: auto;
}
h2{
    font-size: 27px;
    color: white;
    text-align: center;
    font-weight: 300;
}
.thank-txt{
    text-align: center;
}